#formborder {
    border-radius: 25px;
    background: #add7e6 ;
    border: 2px solid;
    padding: 20px; 
    font-size: 150%;
}


body{
    max-width: 900px;
    min-width: 600px;
    background-image:  url("http://entertainment.inquirer.net/files/2016/07/13717225_1265259390150735_8093269019210020606_o.jpg")
}
div.scroll {
    width: 500px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}