<html>
    <head>
        <title>Message</title>
         <!--<link rel="shortcut icon" href="https://csumb.edu/sites/default/files/pixelotter.png" type="image/png">-->
        <link rel="stylesheet" type="text/css" href="/static/style.css" />

        <meta
            name="google-signin-scope"
            content="profile email" />
        <meta
            name="google-signin-client_id"
            content="370817023526-lf71e5uqdhne5j048v70q5dl3b3muka2.apps.googleusercontent.com"/>
        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>
    </head>
    <body background="https://www.pexels.com/photo/petaled-flowers-with-dew-drops-on-close-up-photography-132419/">
        <script>
             window.fbAsyncInit = function() {
                FB.init({
                 appId : '425910934467385',
                 cookie : true,
                 xfbml : true,
                 version : 'v2.8'
                });
                FB.AppEvents.logPageView();
             };
             (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>


<!--cloud9 addID=425910934467385-->

<!--heroku addID=232124253860489-->